name: CI

on:
  push:
    branches: [ main ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    strategy:
      matrix:
        os: [macos-15, macos-15-intel, ubuntu-24.04, windows-2025]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      # Cache target dir
      - uses: actions/cache@v4
        with:
          path: target/
          key: build-and-test-${{ matrix.os }}-${{ github.sha }}
          restore-keys: |
            build-and-test-${{ matrix.os }}-

      # Restore file timestamps to their commit times to avoid recompilations
      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose

      - name: Run examples
        run: just test_examples

  build_and_test_release:
    # We don't need to test release builds on all platforms for now
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      # Cache target dir
      - uses: actions/cache@v4
        with:
          path: target/
          key: build-and-test-release-${{ github.sha }}
          restore-keys: |
            build-and-test-release-

      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Test with optimizations
        run: just test_release --verbose

  build_and_test_arc:
    # We don't need to test arc builds on all platforms for now
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      # Cache target dir
      - uses: actions/cache@v4
        with:
          path: target/
          key: build-and-test-arc-${{ github.sha }}
          restore-keys: |
            build-and-test-arc-

      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Test the arc build variant
        run: just test_arc --verbose

  build_and_test_release_arc:
    # We don't need to test arc builds on all platforms for now
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      # Cache target dir
      - uses: actions/cache@v4
        with:
          path: target/
          key: build-and-test-release-arc-${{ github.sha }}
          restore-keys: |
            build-and-test-release-arc-

      - name: restore timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Test the arc build variant
        run: just test_arc --release --verbose

  code_checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: taiki-e/install-action@v2
        with:
          tool: just@1.5.0,mlc@0.16.3

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      - name: Check formatting
        run: just fmt

      - name: Clippy
        run: just clippy

      - name: Docs
        run: just doc

      - name: Check links
        run: just check_links

  wasm:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: wasm32-unknown-unknown
      - uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: v0.13.1

      # Cache cargo registry
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
          key: cargo-deps-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            cargo-deps-

      - name: Run wasm example tests
        run: cd crates/koto/examples/wasm && wasm-pack test --node
